/* universal style  */
* {
    font-family: 'Work Sans', sans-serif;
}

/* header part's styles */
.header {
    background: rgba(255, 144, 14, 0.1);
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 210px 0px 210px ;
}

.title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.header-menu button {
    border: none;
    background: none;
    font-weight: 550;
    font-size: 18px;
    color: #424242;
}

/* banner part style  */
.banner {
    text-align: center;  
}

.banner-text {
    margin: 0px 350px 50px 350px;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.banner-description {
    color: #727272;
    margin-top: -20px;
    margin-bottom: 30px;
}

.banner-btn {
    border: none;
    background: #FF900E;
    border-radius: 8px;
    color: white;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
}

.banner-img {
    padding-bottom: 50px;
}
.banner-img img {
    width: 75%;
}


/* main part's styles------------------------------ */

/* photo-album and text part styles */
.photo-text-container {
    display: flex;
    text-align: center;
    padding-top: 60px;
}

.photo-album {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-left: 220px;
}
.photo-album img {
    margin: 24px 24px;
}
.album-text {
    padding-top: 180px;
    padding-left: 50px;
    padding-right: 200px;
    text-align: left;
}

.album-title, .title-style-2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.title-style-1 {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}
.title-style-2 {
    color: #FF900E;
}

.album-description {
    color: #727272;
}

/* features part styles------------------------ */

.feature {
    display: flex;
    margin-top: 130px;
}

/* feature text container styles */

.features-text-container {
    margin-left: 200px;
    margin-right: 50px;
    width: 550px;
    height: 950px;
}

.features-text {

}
.feature-title-container {
    display: flex;
    align-items: center;
}

.empty {
    background: #FF900E;
    width: 5px;
    height: 100px;
    margin-right: 20px;
}

.features-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.features-description {
    color: #727272;
}

.features-data {
    width: 500px;
    height: 700px;
}

.data {
    width: 500px;
    height: 150px;
    margin-bottom: 20px;
    padding: 20px 30px 20px 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data-title {
    color: #131313;
    font-weight: 600;
    font-size: 20px;
}

.data-text {
    color: #727272;
}

/* features image styles  */

.features-image {
    margin-right: 200px;
    width: 600px;
    height: 1060px;
}

.feature-img {
    position: relative;
    margin-left: 90px;
    margin-bottom: -130px;
}

.feature-img-text-container {
    background-color: #FF900E;
    border-radius: 8px;
    color: white;
    text-align: center;
    padding: 0px 45px 30px 45px;
    border: none;
    position: relative;

}

.feature-img-text-container h1 {
    font-weight: 700;
    font-size: 65px;
    margin-bottom: -30px;
}

.feature-img-text-container p {
    font-weight: 500;
    font-size: 25px;
}

/* facts style  */

.facts {
    margin-top: 130px;
    margin-left: 200px;
}

.facts-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.facts-text {
    color: #727272;
}

/* achievement part styles */

.achievements {
    display: flex;
    justify-content: space-between;
    margin: 100px 220px;
}

.achievement {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
}

.achievement:hover {
    transform: scale(1.2);
}
.achievement-data {
    padding: 40px 20px 0px 20px;
    text-align: center;
}

.number {
    color: #424242;
    font-size: 45px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: -10px;
}

.text {
    color: #727272;
    font-size: 20px;
    font-weight: 600;
}


/* sposor part styles */

.sponsor {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
}

.sponsor-data {
    margin-bottom: 50px;
}

.sponsor-title {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.sponsor-text {
    color: #727272;
}

.sponsor-img {
    text-align: center;
    margin-left: 80px;
}
.sponsor-img img {
    margin-right: 100px;
    filter: grayscale(100%);
}


/* footer part's styles */

.footer {
    background: #FFF4E7;
    border-radius: 8px;
    margin: 200px 200px;
    text-align: center;
}

.footer-text {
    padding: 40px 200px;
    color: #424242;
    font-weight: 400;
    font-size: 20px;
}